releases:
  coreos:
    base_dir: prod/streams
    enabled: true
    menu: linux
    mirror: https://builds.coreos.fedoraproject.org
    name: Fedora CoreOS
    versions:
{% set versions = version.split(',') %}
{% for value in versions %}
{% set split_value = value.split('-') %}
    - code_name: {{ split_value[0] }}
      name: {{ split_value[1] }}
{% endfor %}
